@font-face {font-family: "PraterBlockFillWeb W03 Regular";
  src: url("./fonts/b4a9e4b05cf7be23003424618c0c8170.eot"); /* IE9*/
  src: url("./fonts/b4a9e4b05cf7be23003424618c0c8170.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./fonts/b4a9e4b05cf7be23003424618c0c8170.woff2") format("woff2"), /* chrome、firefox */
  url("./fonts/b4a9e4b05cf7be23003424618c0c8170.woff") format("woff"), /* chrome、firefox */
  url("./fonts/b4a9e4b05cf7be23003424618c0c8170.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("./fonts/b4a9e4b05cf7be23003424618c0c8170.svg#PraterBlockFillWeb W03 Regular") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "ParalucentStencil W00 Medium";
  src: url("./fonts/03faac845595b6173775ad083ee592dc.eot"); /* IE9*/
  src: url("./fonts/03faac845595b6173775ad083ee592dc.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./fonts/03faac845595b6173775ad083ee592dc.woff2") format("woff2"), /* chrome、firefox */
  url("./fonts/03faac845595b6173775ad083ee592dc.woff") format("woff"), /* chrome、firefox */
  url("./fonts/03faac845595b6173775ad083ee592dc.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("./fonts/03faac845595b6173775ad083ee592dc.svg#ParalucentStencil W00 Medium") format("svg"); /* iOS 4.1- */
}